<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.easyeducation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DiplayTestAnswers"
            android:exported="false" />
        <activity
            android:name=".AddTestAnswer"
            android:exported="false" />
        <activity
            android:name=".AddDevoirAnswer"
            android:exported="false" />
        <activity
            android:name=".AffichageCheck"
            android:exported="false" />
        <activity
            android:name=".TestCheck"
            android:exported="false" />
        <activity
            android:name=".DevoirsCheck"
            android:exported="false" />
        <activity
            android:name=".CourCheck"
            android:exported="false" />
        <activity
            android:name=".AddNewAffichage"
            android:exported="false" />
        <activity
            android:name=".AddNewTest"
            android:exported="false" />
        <activity
            android:name=".AddNewDevoir"
            android:exported="false" />
        <activity
            android:name=".AddNewCour"
            android:exported="false" />
        <activity
            android:name=".FragmentsHolder"
            android:exported="false" />
        <activity
            android:name=".singlerow"
            android:exported="false" />
        <activity android:name=".inscription" />
        <activity android:name=".connexion" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>